certifi==2018.1.18
chardet==3.0.4
idna==2.6
plyer==1.3.0
pypiwin32==223
pyTelegramBotAPI==3.6.1
pywin32==223
requests==2.18.4
six==1.11.0
urllib3==1.22
vk==2.0.2
win10toast==0.9
wincertstore==0.2
xlrd==1.1.0
